body {
  background-color: #020C10;
}

.header,
.toolbarview {
  background-color: #083C51;
}

.toolbarview .center {
  color: #fff;
}

#loading-splash-screen:before {
  content: '';
  background-image: url(../images/Logo.png);
  display: inline-block;
  width: 32px;
  height: 44px;
  margin: 10px;
  position: relative;
  top: 8px;
  margin: 0 10px;
}

#loading-splash-screen {
  color: #fff;
}

.header .toolbarview .center:before {
  content: '';
  background-image: url(../images/Logo.png);
  background-size: contain;
  width: 30px;
  height: 42px;
  position: absolute;
  top: 2px;
  left: -40px;
  padding: 0;
  margin: 0;
}

.switch-header-content-layout .content-wrapper {
  background: #020C10;
}

.textview {
  color: #fff;
}

.ui-widget-content {
  color: #fff;
  background: #020C10 none;
  border: none;
}

.ui-widget-header {
  background: #083C51 none;
  border-color: #083C51;
}

.ui-dialog-buttonset button {
  background-color: #083C51;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
}
