@mixin background-opacity($color, $opacity: 1) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

canvas {
	-ms-touch-action: none;
}

.m-page-1 .content-wrapper {
	overflow: hidden;
}

.page-draw {
	background: url(../images/bruit.png) repeat;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.4);
}

.tools{
    margin-left: 0;
    margin-right: 0;
}

.toolbarview .buttonview.is-icon-only .button{
    height: 40px;
    margin: 5px -12px;
    width: auto;
    text-align:center;
}

.logo{
    margin-right: 5px;
}