body{
    background-color: #fff;
}

#loading-splash-screen{
    color: #666 !important;
    font-size: 40px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -62px;
}

#loading-splash-screen .fa{
    display: block;
    margin: 20px;
    opacity: 0.5;
}

.toolbarview .buttonview.is-icon-only .button{
    height: 40px;
    margin: 5px -12px;
    width: auto;
    text-align:center;
}

.first .buttonview{
	margin-top: -5px;
	width: 40px;
	text-align: left;
}

.app-icon{
	margin: 10px 0;
}

.choose-feature{
	background-color: #fff;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 350px 350px;
	height: 100%;
}

.imageview img{
	width: 70%;
	margin-left: 5px;
	text-align: right;
}

.tools{
    box-shadow: inset 4px 0px 10px rgba(0,0,0,0.2);
}
.header .toolbarview .center{
    position: relative;
    display: inline-block;
    left: 15px;
    top: -2px;
}

.refreshPreview{
    margin-bottom: -15px;
    padding: 0 3px;
    margin-top: 5px;
}

.refreshPreview .button{
    padding: 10px 0 7px;
}