server/mongodb/
server/public/gallery/
server/public/videos/
.DS_STORE
thumbs.db
project.tmproj
server/drawings/

cloc-1.60.pl

a.out

server/data/

server/data/db/mongod.lock

server/data/journal/j._0

server/data/journal/lsn

server/data/local.0

server/data/local.ns

server/data/mongod.lock

server/data/test.0

server/data/test.1

server/data/test.ns

client/laststatus.txt

server/config.js

webapp/node_modules/.bin/grunt-open

server/public/draw/v2/fonts/4587b062.fontawesome-webfont.ttf

server/public/draw/v2

server/public/photos

server/public/gallery-photos

server/public/screenshots

server/public/pdf

server/uploads

server/node_modules/gm/

dist
audio-client/overwerk_old.mp3

audio-client/Intro2.aif

server/data/journal/j._1

server/public/vjing-videos

server/public/vjing-images

server/public/photos-bcvs

server/public/gallery-bcvs

webapp-bcvs/test

server/public/stylesheets/*.css

server/public/gallery-bcvs-contrast