#properties .btn-group {
  display: block;
  height: 40px;
}
#properties label {
  display: block;
}
#global-properties {
  display: none;
}
#toolbar .btn {
  margin-top: 2px;
  margin-bottom: 2px;
}
#toolbar .btn {
  width: 60px;
  white-space: normal;
  padding: 5px 2px;
}
#toolbar .btn-double {
  width: 120px;
}
#toolbar .btn p {
  font-size: 9px;
  text-align: center;
  margin-bottom: 0;
}
#editorWindow.dragged {
  cursor: move;
}
#editorWindow {
  background-image: url("/images/editor/dark_squares.png");
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 325px;
  margin-bottom: 30px;
  padding: 0;
  outline: 3px solid #000;
}
.grid_wrapper {
  margin: auto;
  height: 100%;
  background-size: auto 100%;
  background-position: 50% 50%;
  position: relative;
  z-index: 99999999;
  opacity: 0.6;
  border: none;
  pointer-events: none;
}
table {
  border-collapse: collapse;
}
.mask-image {
  pointer-events: none;
}
td {
  margin: 0;
  padding: 0;
  border: 1px dashed #fff;
}
td.mask {
  background-color: #000 !important;
  margin: 0;
  padding: 0;
}
.layer {
  position: absolute;
  overflow: hidden;
  cursor: move;
}
.thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
}
#properties textarea {
  font-size: 10px;
}
/*#properties
	display none*/
.rElemHover {
  box-sizing: content-box;
  border: 2px dotted #fff;
  margin: -2px 0 0 -2px;
}
.rElemSelected {
  box-sizing: content-box;
  border: 4px dotted #fff;
  margin: -4px 0 0 -4px;
}
.dragged {
  cursor: move;
}
.resizeCornerSE {
  cursor: nwse-resize;
}
.resizeCornerSW {
  cursor: nesw-resize;
}
.resizeCornerNE {
  cursor: nesw-resize;
}
.resizeCornerNW {
  cursor: nwse-resize;
}
.resizeCornerN {
  cursor: ns-resize;
}
.resizeCornerS {
  cursor: ns-resize;
}
.resizeCornerW {
  cursor: ew-resize;
}
.resizeCornerE {
  cursor: ew-resize;
}
marquee,
.marqu {
  font-size: 200px;
  font-family: ChampagneAndLimousines;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.flipped {
  display: block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
#modalWindow {
  display: none;
}
.modalWindow {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 200px;
  z-index: 1000000;
}
.modalWindow:before {
  content: ' ';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: -10;
}
#fileUpload {
  display: none;
}
#gallery,
#video {
  height: 235px;
  overflow: auto;
  display: none;
}
background-color #fff,
#layer {
  height: 150px;
  overflow-y: scroll;
}
#layer > div {
  display: block;
  margin: 2px;
  border: 1px solid #666;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-size: 11px;
}
#layer > div.locked {
  background-color: #ccc;
}
#layer > div.locked i.glyphicon-lock {
  float: right;
  margin-top: 8px;
}
#layer > div i.glyphicon-trash {
  float: right;
  margin-top: 8px;
}
#layer div.selected {
  background-color: rgba(70,240,70,0.5);
}
#layer > div > img {
  max-height: 80%;
}
#layer > div > i {
  margin: 0 5px;
}
#gallery .thumbnail,
#video .thumbnail {
  height: 55px;
  width: 50px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}
#gallery .thumbnail a,
#video .thumbnail a {
  position: absolute;
  bottom: 3px;
  left: 3px;
}
#gallery .thumbnail	> img,
#video .thumbnail > video {
  max-width: 100%;
  max-height: 50px;
  float: none;
}
#gallery .selectedImage,
#video .selectedVideo {
  border-color: #44ef44;
  box-shadow: 0 0 4px rgba(70,240,70,0.5);
  background-color: rgba(70,240,70,0.2);
}
#dropIndicator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000000000;
  display: none;
  pointer-events: none;
}
#modalWindow2 {
  display: block;
  visibility: visible;
  box-shadow: none;
}
#previews {
  display: none;
}
.color-palette .color-palette-color-box {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.5);
  width: 18px;
  height: 18px;
  margin: 2px;
}
.color-palette .color-palette-color-box.selected {
  border: 2px solid rgba(0,0,0,0.5);
  outline: 1px solid rgba(0,0,0,0.5);
}
.color-picker .color-box {
  display: inline-block;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 15px;
  height: 15px;
  background-color: #f00;
  border-radius: 2px;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.font-selector .font-box {
  display: inline-block;
  font-height: 13px;
  font-size: 12px;
  margin: 7px 5px;
}
.fonts-list {
  overflow: scroll;
  max-height: 300px;
}
.fonts-list .font-selector-font a {
  display: block;
  font-height: 13px;
  font-size: 13px;
  margin: 7px 5px;
  cursor: pointer;
}
#color,
#shadow-color,
#font {
  display: none;
}
.dropdown-menu {
  z-index: 1000000000;
}
.unitlabel {
  font-size: 0.4em;
  line-height: 0.5em;
}
.fullScreen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1030;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
}
.fullScreen #editorWindow {
  background-image: none;
  background-color: #000;
}
.fullScreen td {
  margin: 0;
  padding: 0;
  border: none;
}
