.content-panel
	border-left 1px solid #eee

.thumbnail
	position relative

.renderer_wrapper
	padding 0
	margin 0
	position relative

.thumbnail p
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin 0

.unitlabel
	font-size 0.25em
	line-height 0.25em
	padding-top 0.25em

.connected
	background-color #aaffaa

.connected .ip
	font-size 12px

.slide-actions
	text-align right

.btn-delete-slide 
	color #ee0000

.viewer_wrapper
	position relative
	
.slide, .window
	cursor default

.thumbnail
	-webkit-transition: background-color 100ms linear, box-shadow 100ms linear;
	-moz-transition: background-color 100ms linear, box-shadow 100ms linear;
	-o-transition: background-color 100ms linear, box-shadow 100ms linear;
	-ms-transition: background-color 100ms linear, box-shadow 100ms linear;
	transition: background-color 100ms linear, box-shadow 100ms linear;
	cursor pointer

.ui-draggable-dragging
	min-width 111px

.window-hovered
	background-color #E5F1FD
	box-shadow 0 0 5px rgba(0, 100, 201, 0.7)
	
