.content-panel
	border-left 1px solid #eee

.thumbnail
	position relative

.group
	width 100%
	position relative

.thumbnail.window
	margin-bottom 0
	position absolute
	cursor default

.renderer_wrapper
	padding 0
	margin 0
	position relative

.thumbnail > p
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin 0

.thumbnail > p.ip
	font-size 10px
	color #888	

.thumbnail > p.windowId
	font-size 10px
	color #888

.unitlabel
	font-size 0.25em
	line-height 0.25em
	padding-top 0.25em

.connected
	background-color #aaffaa

.connected .ip
	font-size 12px

.slide-actions
	text-align right

.btn-delete-slide 
	color #ee0000

.viewer_wrapper
	position relative
	
.slide, .window
	cursor default

.thumbnail
/*	-webkit-transition: background-color 200ms linear, box-shadow 200ms linear;
	-moz-transition: background-color 200ms linear, box-shadow 200ms linear;
	-o-transition: background-color 200ms linear, box-shadow 200ms linear;
	-ms-transition: background-color 200ms linear, box-shadow 200ms linear;
	transition: background-color 200ms linear, box-shadow 200ms linear;*/
	cursor pointer

.ui-draggable-dragging
	min-width 111px

.window-hovered-valid
	background-color #396898
	box-shadow 0 0 10px rgba(0, 100, 201, 0.9)

.window-hovered-invalid
	background-color #f95c5c
	box-shadow 0 0 5px rgba(249, 92, 92, 0.4)