.content-panel {
  border-left: 1px solid #eee;
}
.thumbnail {
  position: relative;
}
.renderer_wrapper {
  padding: 0;
  margin: 0;
  position: relative;
}
.thumbnail > p {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.thumbnail > p.ip {
  position: absolute;
  bottom: 15px;
  left: 5px;
  font-size: 10px;
  color: #888;
}
.thumbnail > p.windowId {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 10px;
  color: #888;
}
.unitlabel {
  font-size: 0.25em;
  line-height: 0.25em;
  padding-top: 0.25em;
}
.connected {
  background-color: #afa;
}
.connected .ip {
  font-size: 12px;
}
.slide-actions {
  text-align: right;
}
.btn-delete-slide {
  color: #e00;
}
.viewer_wrapper {
  position: relative;
}
.slide,
.window {
  cursor: default;
}
.thumbnail {
  -webkit-transition: background-color 100ms linear, box-shadow 100ms linear;
  -moz-transition: background-color 100ms linear, box-shadow 100ms linear;
  -o-transition: background-color 100ms linear, box-shadow 100ms linear;
  -ms-transition: background-color 100ms linear, box-shadow 100ms linear;
  transition: background-color 100ms linear, box-shadow 100ms linear;
  cursor: pointer;
}
.ui-draggable-dragging {
  min-width: 111px;
}
.window-hovered {
  background-color: #e5f1fd;
  box-shadow: 0 0 5px rgba(0,100,201,0.7);
}
