.drawing
	width 1024px
	height 300px
	position: relative;

.drawing img
	position: absolute;
	left 50%
	top 50%

.moderateRow
	border 1px solid #e7e7e7
	border-radius 3px
	padding 5px
	margin-top 5px
	position relative
	height 500px

.moderateRow .actions
	text-align right
	vertical-align middle
	@media (min-width: 767px)
		line-height 110px
	@media (max-width: 767px)
		line-height 70px
	position relative

.moderateRow .actions .btn-group
	display inline-block

.moderateRow .id-drawing
	display inline-block
	margin-right 10px
	
.moderateRow .duration-drawing
	display block
	margin-right 10px
	user-select none
	height 12px
	position absolute
	bottom 15px
	left 15px

.page-link
	display inline-block
	margin 2px
	border 1px solid #ccc
	padding 5px