body,html {
  overflow:hidden;
  padding:0;
  margin:0;
  border:0;  
  width:100%;
  height:100%;
}
.navbar
{
  display:none !important;
}
#editorWindow,table
{
  position:absolute !important;
}
#editorWrapper
{
  padding:0 !important;
}