#modalWindow {
  display: none;
}
.modalWindow {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 200px;
  z-index: 1000000;
}
.modalWindow:before {
  content: ' ';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: -10;
}
#mainSequence {
  box-sizing: content-box;
  height: 30px;
  overflow: visible;
  position: relative;
  margin-bottom: 40px;
}
#mainSequence .timeAxis {
  height: 15px;
  color: #666;
  position: relative;
}
.timeAxis .axisLabel {
  position: absolute;
  border-left: 1px solid #9497b6;
  padding-left: 5px;
  font-size: 10px;
  line-height: 8px;
  height: 20px;
  top: 10px;
  z-index: 200;
  pointer-events: none;
  opacity: 0.8;
}
.timeAxis .axisLabel.axisLabel-small {
  font-size: 8px;
  line-height: 8px;
  height: 20px;
  top: 12px;
  opacity: 0.3;
  color: #fff;
}
.axisLabel p {
  position: relative;
  top: -9px;
  left: -85%;
}
.axisLabel.axisLabel-small p {
  top: -9px;
}
.slide-library {
  height: 300px;
  max-height: 300px;
  overflow: auto;
}
.slide-library .thumbnails li {
  display: inline-block;
  margin: 5px;
}
.slidebox {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}
position relative,
.slidebox p {
  width: 100%;
  font-size: 0.6em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
position relative,
.slidebox .renderer_wrapper {
  width: 65px;
  height: 35px;
  position: relative;
}
#mainSequence .timeline {
  position: absolute;
  top: 15px;
  bottom: 0;
  background-color: #f8f8f8;
  outline-top: 1px solid rgba(50,50,50,0.4);
  outline-bottom: 1px solid rgba(50,50,50,0.4);
  border-radius: 5px;
}
.timeline .eventBlock {
  background-repeat: no-repeat;
  height: 15px;
  width: 1px;
  background: transparent;
  border: none;
  border-left: 2px solid #000;
  box-sizing: border-box;
  position: absolute !important;
  cursor: pointer;
}
.timeline .eventBlock:before {
  content: '';
  background-image: url("/images/keyframe.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  left: -11px;
}
.timeline .eventBlock.selected {
  border-left: 2px solid #92caff;
}
.timeline .eventBlock.selected:before {
  background-image: url("/images/keyframe-selected.png");
}
.timeline .eventBlock p.eventBlockDuration {
  position: absolute;
  bottom: 2px;
  line-height: 8px;
  left: 2px;
  right: 0;
  color: rgba(255,255,255,0.7);
  font-size: 7px;
  margin: 0;
  text-overflow: ellipsis;
  height: 8px;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.timeline .eventBlock p.eventBlockName {
  position: absolute;
  bottom: 12px;
  line-height: 8px;
  left: 2px;
  right: 0;
  color: #fff;
  font-size: 7px;
  margin: 0;
  text-overflow: ellipsis;
  height: 8px;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
#scrubber {
  width: 15px;
  height: 100%;
  background-image: url("/images/scrubber.png");
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  margin-left: -7.5px;
  cursor: ew-resize;
}
#editorWindow {
  background-color: #000;
  position: relative;
  width: 100%;
}
.music .timeline {
  background-image: url("/images/waveform.png");
  background-size: 100% 100%;
}
