body {
  padding-top: 50px;
}
#logo {
  position: relative;
  top: -7px;
  left: 8px;
  z-index: 999999999;
  pointer-events: none;
}
body > .navbar > .navbar-inner .container {
  position: relative;
  left: -25px;
}
body > .navbar {
  z-index: 999999999;
}
.dropdown-menu {
  z-index: 999999999;
}
body > .navbar > .navbar-inner {
  height: 20px;
}
.well {
  padding: 14px;
}
.renderer_wrapper {
  padding: 0;
  margin: 0;
  width: 130px;
  height: 70px;
  position: relative;
}
.viewer_wrapper {
  height: 25px;
  position: relative;
}
.disabled_renderer {
  height: 160px;
  position: relative;
  background-color: #111 !important;
}
.renderer_canvas {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid_wrapper {
  margin: auto;
  height: 100%;
  background-size: auto 100%;
  background-position: 50% 50%;
  position: relative;
  z-index: 99999999;
  border: none;
}
.renderer_canvas .mask-image,
#editorWindow .mask-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/mask.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 999999;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.renderer_canvas > .mask-image {
  opacity: 1;
}
td {
  margin: 0;
  padding: 0;
}
td.mask {
  background-color: #000 !important;
  margin: 0;
  padding: 0;
}
.layer {
  position: absolute;
  overflow: hidden;
}
.thumbnail p {
  height: 1.3em;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.flipped {
  display: block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.row {
  margin-bottom: 5px;
}
@font-face {
  font-family: Champagne;
  src: url("/fonts/Champagne & Limousines.ttf");
}
@font-face {
  font-family: Sansation;
  src: url("/fonts/Sansation_Regular.ttf");
}
@font-face {
  font-family: Unzialish;
  src: url("/fonts/Unzialish.ttf");
}
@font-face {
  font-family: AvantGuarde;
  src: url("/fonts/Avant Garde Book BT.ttf");
}
