@import url("http://fonts.googleapis.com/css?family=Open+Sans");
body {
  padding-top: 56px;
  font-family: 'Open Sans', sans-serif;
}
#logo {
  margin-right: 5px;
  vertical-align: middle;
  height: 1.4em;
}
.non-absolute-alert {
  position: relative;
}
.alert {
  position: absolute !important;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 20000;
}
.thumbnail {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.grid_wrapper {
  margin: auto;
  height: 100%;
  background-size: auto 100%;
  background-position: 50% 50%;
  position: relative;
  z-index: 99999999;
  border: none;
}
.renderer_canvas {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.renderer_canvas .mask-image,
#editorWindow .mask-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/mask.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 999999;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.renderer_canvas > .mask-image {
  opacity: 1;
}
td {
  margin: 0;
  padding: 0;
}
td.mask {
  background-color: #000 !important;
  margin: 0;
  padding: 0;
}
.layer {
  position: absolute;
  overflow: hidden;
}
.flipped {
  display: block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.row {
  margin-bottom: 5px;
}
@font-face {
  font-family: Champagne;
  src: url("/fonts/Champagne & Limousines.ttf");
}
@font-face {
  font-family: Sansation;
  src: url("/fonts/Sansation_Regular.ttf");
}
@font-face {
  font-family: Unzialish;
  src: url("/fonts/Unzialish.ttf");
}
@font-face {
  font-family: AvantGuarde;
  src: url("/fonts/AvantGuarde.ttf");
}
@font-face {
  font-family: Cronos;
  src: url("/fonts/Cronos.otf");
}
@font-face {
  font-family: Carbon;
  src: url("/fonts/CarbonBlock.ttf");
}
#modalWindow,
#modalWindow2 {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 200px;
  z-index: 100000000;
  display: none;
  box-shadow: 0px 0px 200px #000;
}
.hero-unit {
  padding: 50px;
  background-color: #eee;
  border-radius: 20px;
}
.schedule {
  font-family: monospace;
  min-height: 500px;
}
