@media only screen and (max-height:530px){
    body{
    }    
    
    .m-page.m-page-1.m-page-current{
        overflow: scroll;
    }
    
    .m-page .participate-form.modal-window{
        margin-top: 0;
        display: none;
    }
    
    .m-page .participate-form.modal-window.shown{
        display: block;
    }
    
    .m-page .page-post-photo .modal-window.conditions-text{
        display: none;
    }
    
    .m-page .page-post-photo .modal-window.conditions-text.shown{
        display: block;
    }
    
    .page-post-photo .buttonview.camera .button{
        width: 80px;
        height: 80px;
    }

    .page-post-photo .buttonview.camera input{
        width: 80px;
        height: 80px;
    }
}

.page-post-photo .modal-window.conditions-text{
    position: fixed;
    top: 120%;
    left: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
    height: 93%;
    display: block;
    margin-left: 0;
}

.modal-window.shown.conditions-text{
    top: 20px;
}

.participate-form.modal-window{
    display: block;
}

.m-page-1 .content-wrapper{
    overflow: visible;
}

.page-post-photo .buttonview.camera{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.page-post-photo .buttonview.camera .button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    pointer-events: none;
    border: none;
}

.page-post-photo .buttonview.camera input{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: all;
}

.page-post-photo .buttonview.camera .button .fa{
    font-size: 50px;
    line-height: 80px;
}

.page-post-photo .post-photo-help{
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300px auto;
    background-image: url(../images/background-post-photo-bcvs.png);
}

.page-post-photo .post-photo-canvas-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    display: none;
}

.page-post-photo .post-photo-canvas-wrapper canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.page-post-photo .post-photo-fake-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    display: none;
}

.page-post-photo .post-photo-fake-wrapper img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.page-post-photo .buttonview.conditions{
    position: absolute;
    bottom: 0;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

.all-on-top{
    z-index: 100;
    position: absolute;
}

.page-post-photo .buttonview.conditions .button{
    border: none;
    background-color: transparent;
    color: #fff;
}

.page-post-photo .buttonview.conditions.active .button, .page-post-photo .buttonview.conditions .button:focus{
    color: #ccc;
}

@media only screen and (max-width:520px){
    .page-post-photo .postPhotoCanvas{
        background-size: contain;
    }
}

.conditions-text .iframe-holder{
    -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;
    
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
}

.conditions-text .iframe-holder iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.page-post-photo .buttonview.undo{
    position: absolute;
    left: 50%;
    bottom: 28px;
    margin-left: -120px;
    transition: top 0.5s ease-in-out;
}

.page-post-photo .buttonview.undo .button{
    border-radius: 50%;
    width: 41px;
    height: 41px;
    pointer-events: none;
    border: none;
}


.page-post-photo .buttonview.send{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -50px;
    margin-top: -50px;
    transition: top 0.5s ease-in-out;
}

.page-post-photo .buttonview.send .button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    pointer-events: none;
    border: none;
}

.page-post-photo .buttonview.send .button i.fa{
    display: block;
    font-size: 40px;
    position: relative;
    left: -3px;
    top: 10px;
}

.page-post-photo .buttonview.send .button div{
    display: block;
    position: relative;
    top: 8px;
    left: -5px;
}

.facebook .button {
    background-color: #4E69A2;
    border-color: #1B316B;
    color: #fff;
}

.instagram .button {
    background-color: #3C8FDF;
    border-color: #125688;
    color: #fff;
}

.post-social .button div{
    word-wrap: normal;
    white-space: normal !important;
    text-align: center;
    margin-left: 8px;
}

.participate-form .wrong input{
    border-color: #EE3933;
    box-shadow: 0 0 3px #EE3933;
}

.participate-form .conditions-reminder{
    font-size: 0.6em;
    color: #666;
    margin: 0;
}

.share-instagram{
    background-image: url(../images/arrow-explain-instagram.png);
    background-repeat: no-repeat;
    background-position: 90% 12%;
    background-size: 80px auto;
}

.share-instagram .save-picture-help{
    font-size: 26px;
    margin-left: 3px;
    position: relative;
    top: 4px;
}

.share-instagram .user-photo-big{
    width: 50%;
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: -10px;
    margin-bottom: 20px;
    transform: rotate(-2deg);
}

.share-instagram .user-photo-big img{
    width: 100%;
    margin-left: 0;
}


.screenshot-container{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.screenshot-container.ios .user-photo{
    position: absolute;
    width: 20%;
    left: 1%;
    top: 25%;
}

.screenshot-container.android .user-photo{
    position: absolute;
    width: 15%;
    left: 7%;
    top: 29%;
}

.screenshot-container.windows-phone .user-photo{
    position: absolute;
    width: 22%;
    left: 3%;
    top: 16%;
}

.screenshot-container .user-photo img{
    margin-left: 0;
    width: 100%;
}

.screenshot-container .overlay{
    position: relative;
}

.screenshot-container .overlay img{
    width: 100%;
    margin-left: 0;
}

.buttonview.open-instagram .button{
    width: 50%;
    margin: -40px auto 0 auto;
}

.buttonview.open-instagram .button i{
    position: static;
    display: block;
    font-size: 28px;
    margin-top: 7px;
}

.buttonview.open-instagram .button div{
    display: block;
    font-size: 14px;
    white-space: normal !important;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.disabler{
    position: absolute;
    left: 0;
    top: -50px;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.disabler-content{
    border: 1px solid #EFEFEF;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
    z-index: 1000;
    text-align: center;
}

.disabler-content ul{
    text-align: left;
    margin-top: 10px;
}