extends layout

block content
    link(rel='stylesheet', href='/stylesheets/automator.css')
    .row
        .container
            .col-sm-12
                .btn-group.pull-left
                    a.btn-xs.btn-default#refreshSlides.btn(title="Rafraichir")  
                        span.glyphicon.glyphicon-refresh
                .btn-group.pull-right
                    a.btn-xs.btn.btn-default#createCollection(title="Créer collection")
                        span.glyphicon.glyphicon-plus
    .row
        .container
            .col-sm-5
                #slideLibrary
            .col-sm-7
                #editorWrapper
                    #editorWindow
    .row
        .container
            .btn-group
                button#save.btn.btn-success(title="Sauvegarder",type="button")
                    i.glyphicon.glyphicon-floppy-disk
                    p Sauver
                a#cancel.btn.btn-danger(title="Annuler",href='/')
                    i.glyphicon.glyphicon-remove-sign
                    p  Annuler
    #modalWindow.modalWindow
        .hero-unit
            h1 Nouvel automator
            p
            .button-group
                a#okCreate.btn.btn-primary OK
                a#cancelCreate.btn.btn-default(href='/') Annuler
    #modalWindow2.hero-unit
        h2 Sauvegarder
        p
            form#saveForm
                fieldset
                    .form-inline
                        input.form-control#fileName(type='text',placeholder='Choisir un nom')
                        button#okSave.btn.btn-primary OK
                        a#cancelSave.btn.btn-default Annuler

    script(src='/javascripts/plugins/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/plugins/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src="/javascripts/automatorEditor.js")
    include ./includes/load_js_relems.jade