extends layout

block content
    link(rel='stylesheet',href='/stylesheets/dropzone.css')
    script(src='/javascripts/jquery-2.0.3.js')
    script(src="/javascripts/jcanvas.min.js")
    #toolbar.row
        .container-fluid
            .btn-toolbar
                .btn-group
                    a#newColor.btn-large.btn-default.btn(title="Couleur") 
                        span.glyphicon.glyphicon-th-large
                        p Rectangle
                    a.btn-large.btn-default#newText.btn(title="Texte normal")
                        span.glyphicon.glyphicon-font
                        p Texte
                    a.btn-large.btn-default#newMultiText.btn(title="Multi-texte")  
                        span.glyphicon.glyphicon-list  
                        p Multi-texte
                    a.btn-large.btn-default#newMarquee.btn(title="Texte défilant")
                        span.glyphicon.glyphicon-text-width
                        p Text défilant
                    a.btn-large.btn-default#newTime.btn(title="Time")
                        span.glyphicon.glyphicon-time
                        p Heure
                    a.btn-large.btn-default#newDate.btn(title="Date")
                        span.glyphicon.glyphicon-calendar
                        p Date
                    a.btn-large.btn-default#newCountdown.btn(title="Compte à rebours")
                        span.glyphicon.glyphicon-fast-forward
                        p Timer
                    a.btn-large.btn-default#newImage.btn(title="Image")
                        span.glyphicon.glyphicon-picture
                        p Image
                    a.btn-large.btn-default#newVideo.btn(title="Video")
                        span.glyphicon.glyphicon-film
                        p Vidéo
                    a.btn-large.btn-default#newDrawing.btn(title="Dessin")  
                        span.glyphicon.glyphicon-pencil
                        p Dessin
                    a.btn-large.btn-default#newBall.btn(title="Ball")  
                        span.glyphicon.glyphicon-record
                        p Ball
                    a.btn-large.btn-default#newFlash.btn(title="Flash")  
                        span.glyphicon.glyphicon-certificate
                        p Flash
                    a.btn-large.btn-default#newStrobe.btn(title="Strobe")  
                        span.glyphicon.glyphicon-warning-sign
                        p Strobe
                    a.btn-large.btn-default#newParticles.btn(title="Particles")  
                        span.glyphicon.glyphicon-fullscreen
                        p Particles
                    a.btn-large.btn-default#newFireworks.btn(title="Fireworks")
                        span.glyphicon.glyphicon-certificate
                        p Fireworks
                    a.btn-large.btn-default#newDrawingLive.btn(title="DrawingLive")
                        span.glyphicon.glyphicon-pencil
                        p Draw Live
                    
                .btn-group#global-properties
                    .btn-group#color
                        a.btn.btn-large.btn-default.color-picker.dropdown-toggle(data-toggle="dropdown")
                            span.color-box
                            p Couleur
                        div.dropdown-menu.color-palette
                            p hello
                    .btn-group#shadow-color
                        a.btn.btn-large.btn-default.color-picker.dropdown-toggle(data-toggle="dropdown")
                            span.color-box
                            p Ombre
                        div.dropdown-menu.color-palette
                            p hello
                    .btn-group#font
                        a.btn.btn-large.btn-default.btn-double.font-selector.dropdown-toggle(data-toggle="dropdown")
                            span.font-box Didact Gothic
                            span.caret
                        ul.dropdown-menu.fonts-list(role="menu")
                            li(role="presentation") 
                                a(role=menuitem) AvantGuarde
                            li(role="presentation")
                                a Didact Gothic
                            li(role="presentation")
                                a Something else
                            
                .btn-group.pull-right
                    a#save.btn.btn-success(title="Sauvegarder",type="button")
                        span.glyphicon.glyphicon-floppy-disk
                        p Sauver
                    a#cancel.btn.btn-danger(title="Annuler",type="button",href='/')
                        span.glyphicon.glyphicon-remove
                        p Annuler
                    a#fullScreen.btn.btn-default(title="Plein Ecran",type="button")
                        span.glyphicon.glyphicon-fullscreen
                        p Plein Ecran
    .row
        #editorWrapper.col-sm-8
            #editorWindow.container
        .col-sm-4
            #layer.well
            #properties.well
                .container-fluid
                    #relemProperties
                    div
                        #gallery
                        #video
            #previews.dropzone-previews.span3.well
    #modalWindow.modalWindow
        .hero-unit
            h1 Sauvegarder
            p
                form#saveForm
                    fieldset
                        .form-inline
                            input.form-control#fileName(type='text',placeholder='Choisir un nom')
                            button#okSave.btn.btn-primary OK
                            a#cancelSave.btn.btn-default Annuler
                            select.form-control#folder(name='folder')
                                each folder in folders
                                    option(value=folder._id)=folder.name
    #dropIndicator
        #modalWindow2.hero-unit
            h1 Ajouter des fichiers...
    
    #windowModelChooser.modalWindow
        .hero-unit
            h1 Créer un nouveau slide
            p
                form#createForm
                    .form-group.row
                        label.control-label.col-sm-5(for='windowModel') Modèle de fenêtre
                        .col-sm-7
                            select#windowModel.form-control(name='windowModel',id='windowModel')
                                each windowModel in windowModels
                                    option(value=windowModel._id)=windowModel.name
                    .form-group.row
                        label.control-label.col-sm-5(for='slideWidth') Dimensions
                        .col-sm-3
                            input#slideWidth.form-control(type='number', name='slideWidth',value='1')
                        .col-sm-1
                            span.glyphicon.glyphicon-remove(style='position:relative;top:10px;height:30px;width:25px')
                        .col-sm-3
                            input#slideHeight.form-control(type='number', name='slideHeight',value='1')
                    .form-group.row
                        .col-sm-8.col-sm-offset-5
                            button#create.btn.btn-primary Créer
                            |  
                            button#cancelCreate.btn.btn-default Annuler
    
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/pmw_colorpicker.js')
    script(src='/javascripts/pmw_fontselector.js')
    script(src='/bootstrap/js/bootstrap-datetimepicker.min.js')
    script(src='/bootstrap/js/bootstrap-fileupload.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src='/javascripts/editor.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/multiText.js')
    script(src='/javascripts/relems/ball.js')
    script(src='/javascripts/relems/flash.js')
    script(src='/javascripts/relems/strobe.js')
    script(src='/javascripts/relems/particles.js')
    script(src='/javascripts/relems/fireworks.js')
    script(src='/javascripts/relem_extensions.js')
    script(src='/javascripts/jquery.ui.fontSelector.js')
    script(src="/javascripts/html5media.min.js")
    script(src="/javascripts/dropzone.min.js")
    script(src='/javascripts/textFit.min.js')
    script(src='/javascripts/relems/drawingLive.js')