doctype 5
html
    head
        script(src='/javascripts/plugins/jquery-2.0.3.js')
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
        if create
            link(rel='stylesheet', href='/stylesheets/create.css')
            link(rel='stylesheet', href='/bootstrap/css/bootstrap.icon-large.min.css')
            link(rel='stylesheet', href='/stylesheets/colorPicker.css')
            link(rel='stylesheet', href='/stylesheets/fontSelector.css')
            link(rel='stylesheet', href='/bootstrap/css/bootstrap-fileupload.min.css')
    body
        .container-fluid
            block content
        .footer
        script(src='/bootstrap/js/bootstrap.min.js')