doctype 5
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        link(rel='stylesheet', href='/stylesheets/plugins/ui-lightness/jquery-ui-1.10.3.custom.css')
    body
        script(src='/javascripts/plugins/jquery-2.0.3.js')
        script(src='/javascripts/common.js')
        .navbar.navbar-fixed-top.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-brand
                        img#logo(src="/images/Logo.png")
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        if ( title == 'Supervision' )
                            li.active
                                a(href='/')
                                    span.glyphicon.glyphicon-eye-open
                                    |  Supervision
                        else
                            li
                                a(href='/')
                                    span.glyphicon.glyphicon-eye-open
                                    |  Supervision
                        if ( title == "Nouveau Slide" )
                            li.active.hidden-sm.hidden-xs
                                a(href='/create')
                                    span.glyphicon.glyphicon-pencil
                                    |  Slide
                        else
                            li.hidden-sm.hidden-xs
                                a(href='/create')
                                    span.glyphicon.glyphicon-pencil
                                    |  Slide
                        if ( title == "Nouvelle Séquence" )
                            li.active.hidden-sm.hidden-xs
                                a(href='/sequence')
                                    span.glyphicon.glyphicon-film
                                    |  Séquence
                        else
                            li.hidden-sm.hidden-xs
                                a(href='/sequence')
                                    span.glyphicon.glyphicon-film
                                    |  Séquence
                        if ( title == "Nouvel Automator" )
                            li.active.hidden-sm.hidden-xs
                                a(href='/automator')
                                    span.glyphicon.glyphicon-flash
                                    |  Automator
                        else
                            li.hidden-sm.hidden-xs
                                a(href='/automator')
                                    span.glyphicon.glyphicon-flash
                                    |  Automator
                        if ( title == "Modérer" && user.admin )
                            li.active
                                a(href='/moderate?show=new')
                                    span.glyphicon.glyphicon-filter
                                    |  Modérer
                        else if ( user.admin )
                            li
                                a(href='/moderate?show=new')
                                    span.glyphicon.glyphicon-filter
                                    |  Modérer
                        if ( title == "Scheduler" && user.admin )
                            li.active
                                a(href='/scheduler')
                                    span.glyphicon.glyphicon-calendar
                                    |  Scheduler
                        else if ( user.admin )
                            li
                                a(href='/scheduler')
                                    span.glyphicon.glyphicon-calendar
                                    |  Scheduler
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout')
                                i.glyphicon.glyphicon-off
                                |  Déconnexion
        .container-fluid
            block content
        .container-fluid
            .footer
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/slideBrowser.js')