doctype 5
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
        if create
            link(rel='stylesheet', href='/stylesheets/create_new.css')
            link(rel='stylesheet', href='/stylesheets/colorPicker.css')
            link(rel='stylesheet', href='/stylesheets/fontSelector.css')
            link(rel='stylesheet', href='/bootstrap/css/bootstrap-fileupload.min.css')
    body
        script(src='/javascripts/jquery-2.0.3.js')
        .navbar.navbar-fixed-top.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-brand
                        img#logo(src="/images/Logo.png")
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        if ( title == 'Supervision' )
                            li.active
                                a(href='/')
                                    span.glyphicon.glyphicon-eye-open
                                    |  Supervision
                        else
                            li
                                a(href='/')
                                    span.glyphicon.glyphicon-eye-open
                                    |  Supervision
                        if ( title == "Nouveau Slide" )
                            li.active
                                a(href='/create')
                                    span.glyphicon.glyphicon-pencil
                                    |  Slide
                        else
                            li
                                a(href='/create')
                                    span.glyphicon.glyphicon-pencil
                                    |  Slide
                        if ( title == "Nouvelle Séquence" )
                            li.active
                                a(href='/sequence')
                                    span.glyphicon.glyphicon-film
                                    |  Séquence
                        else
                            li
                                a(href='/sequence')
                                    span.glyphicon.glyphicon-film
                                    |  Séquence
                        li
                            a(href='/moderate')
                                i.glyphicon.glyphicon-filter
                                |  Modérer
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout')
                                i.glyphicon.glyphicon-off
                                |  Déconnexion
        .container-fluid
            block content
        .container-fluid
            .footer
        script(src='/bootstrap/js/bootstrap.min.js')