doctype 5
html
    head
        title='PMW Renderer'
        link(rel='stylesheet',href='/stylesheets/reset.css')
        link(rel='stylesheet',href='/stylesheets/renderer_standalone.css')
        include ./includes/load_css_relems.jade
    body
        #windowsWrapper
        //- .editorWindow.container(style='margin:auto;')
        //-     .mire
        //-         img(src='/images/mire.png')
        //-         .corner.p1=1
        //-         .corner.p2=2
        //-         .corner.p3=3
        //-         .corner.p4=4

        script(src='/javascripts/plugins/jquery-2.0.3.js')
        script(src='/javascripts/plugins/jquery-ui-1.10.3.custom.js')
        script(src='/javascripts/plugins/jquery.ui.touch-punch.min.js')
        script(src='/javascripts/common.js')
        script(src='/javascripts/renderer_new_relative.js')
        script(src='/javascripts/renderer_projection_mapped.js')
        script(src='/javascripts/client_connection.js')
        include ./includes/load_js_relems.jade
        script(src='/javascripts/transition.js')
        include ./includes/load_js_transitions.jade
        script(src='/javascripts/renderer_standalone.js')
        script(src='/javascripts/css_projection_mapping.js')