extends layout

block content
    script(src='/javascripts/jquery-2.0.3.js')
    script(src="/javascripts/jcanvas.min.js")
    link(rel='stylesheet', href='/stylesheets/sequence.css')
    .row
        .container
            .col-sm-12
                .btn-group.pull-left
                    a.btn-xs.btn-default#refreshSlides.btn(title="Rafraichir")  
                        span.glyphicon.glyphicon-refresh
                .btn-group.pull-right
                    a.btn-xs.btn-danger#emptyEvent.btn(title="Vider le keyframe")  
                        span.glyphicon.glyphicon-trash
    .row
        .container
            .col-sm-5
                #slideLibrary
            .col-sm-7
                #editorWrapper
                    #editorWindow
    .row
        .container
            .col-sm-2
                .btn-group
                    a.btn.btn-sm.btn-default#backward
                        span.glyphicon.glyphicon-backward
                    a.btn.btn-sm.btn-default#play
                        i.glyphicon.glyphicon-play
                    a.btn.btn-sm.btn-default#forward
                        i.glyphicon.glyphicon-forward
                    a.btn.btn-sm.btn-default.btn-success#newKeyframe
                        i.glyphicon
                            img.img-responsive(style='max-height:13px;',src='/images/add-keyframe.png')
            .col-sm-10
                #mainSequence
                    #scrubber
    .row
        .container
            .btn-group
                button#save.btn.btn-success(title="Sauvegarder",type="button")
                    i.glyphicon.glyphicon-floppy-disk
                    p Sauver
                a#cancel.btn.btn-danger(title="Annuler",href='/')
                    i.glyphicon.glyphicon-remove-sign
                    p  Annuler
    #modalWindow.modalWindow
        .hero-unit
            h1 Nouvelle séquence
            p
                .form
                    .form-group.row
                        label.control-label.col-sm-5(for='windowModel') Modèle de fenêtre
                        .col-sm-7
                            select#windowModel.form-control(name='windowModel')
                                each windowModel in windowModels
                                    option(value=windowModel._id)=windowModel.name
                    .form-group.row
                        label.control-label.col-sm-5(for='slideWidth') Dimensions
                        .col-sm-3
                            input#sequenceWidth.form-control(type='number', name='sequenceWidth',value='1')
                        .col-sm-1
                            span.glyphicon.glyphicon-remove(style='position:relative;top:10px;height:30px;width:25px')
                        .col-sm-3
                            input#sequenceHeight.form-control(type='number', name='sequenceHeight',value='1')
                    .form-group.row
                        label.control-label.col-sm-5(for='lengthValue') Durée:
                        .col-sm-5
                            .input-group
                                input.form-control#lengthValue(type='number',placeholder='###',value='1')
                                .input-group-addon
                                    select#lengthUnit
                                        option(value='3600') Heure(s)
                                        option(value='60',selected) Minute(s)
                                        option(value='1') Seconde(s)
                    .form-group.row
                        label.control-label.col-sm-5(for='music') Musique
                        .col-sm-7
                            input#sequenceMusic.form-control(type='text', name='sequenceMusic')
            .button-group
                a#okCreate.btn.btn-primary OK
                a#cancelCreate.btn.btn-default(href='/') Annuler
    #modalWindow2.hero-unit
        h2 Sauvegarder
        p
            form#saveForm
                fieldset
                    .form-inline
                        input.form-control#fileName(type='text',placeholder='Choisir un nom')
                        button#okSave.btn.btn-primary OK
                        a#cancelSave.btn.btn-default Annuler
        
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/jquery.colorPicker.min.js')
    script(src='/bootstrap/js/bootstrap-datetimepicker.min.js')
    script(src='/bootstrap/js/bootstrap-fileupload.min.js')
    script(src='/javascripts/textFit.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/multiText.js')
    script(src='/javascripts/relems/timeSync.js')
    script(src='/javascripts/relems/timesync.js')
    script(src='/javascripts/relem_extensions.js')
    script(src='/javascripts/relems/flash.js')
    script(src='/javascripts/relems/strobe.js')
    script(src='/javascripts/jquery.ui.fontSelector.js')
    script(src='/javascripts/textFit.min.js')
    //script(src='/javascripts/jquery-collision.min.js')
    //script(src='/javascripts/jquery-ui-draggable-collision.min.js')
    script(src="http://api.html5media.info/1.1.6/html5media.min.js")
    script(src="/javascripts/sequenceEditor.js")
    script(src="/javascripts/soundjs-0.5.2.min.js")