extends layout

block content
    script(src='/javascripts/jquery-2.0.3.js')
    script(src="/javascripts/jcanvas.min.js")
    link(rel='stylesheet', href='/stylesheets/sequence.css')
    .row
        .container
            .col-sm-4
                .slide-library
                    ul.thumbnails.list-unstyled
                        each slide in slides
                            li
                                div.slidebox(id=slide.id)
                                    div.renderer_wrapper
                                        div.renderer_canvas.simulation
                                     p(title=slide.name)=slide.name
                .text-center
                    .btn-group
                        a.btn.btn-lg.btn-default#backward
                            span.glyphicon.glyphicon-backward
                        a.btn.btn-lg.btn-default#play
                            i.glyphicon.glyphicon-play
                        a.btn.btn-lg.btn-default#forward
                            i.glyphicon.glyphicon-forward
            .col-sm-8
                #renderer
    .row
        .container
            #mainSequence
                #scrubber
    .row
        .container
            .btn-group
                button#save.btn.btn-success(title="Sauvegarder",type="button")
                    i.glyphicon.glyphicon-floppy-disk
                    p Sauver
                a#cancel.btn.btn-danger(title="Annuler",href='/')
                    i.glyphicon.glyphicon-remove-sign
                    p  Annuler
    #modalWindow.hero-unit
        h2 Nouvelle séquence
        p
            .form-inline
                .form-group
                    label.control-label(for='lengthValue') Durée:
                    input.form-control.input-mini#lengthValue(type='number',placeholder='###',value='1')
                    select.form-control.input-small.input-group-addon#lengthUnit
                        option(value='3600',selected=1) Heure(s)
                        option(value='60') Minute(s)
                        option(value='1') Seconde(s)
        .button-group
            a#okCreate.btn.btn-primary OK
            a#cancelCreate.btn.btn-default(href='/') Annuler
    #modalWindow2.hero-unit
        h2 Sauvegarder
        p
            form#saveForm
                fieldset
                    .form-inline
                        input.form-control#fileName(type='text',placeholder='Choisir un nom')
                        button#okSave.btn.btn-primary OK
                        a#cancelSave.btn.btn-default Annuler
        
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/jquery.colorPicker.min.js')
    script(src='/bootstrap/js/bootstrap-datetimepicker.min.js')
    script(src='/bootstrap/js/bootstrap-fileupload.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/multiText.js')
    script(src='/javascripts/relems/timeSync.js')
    script(src='/javascripts/relem_extensions.js')
    script(src='/javascripts/jquery.ui.fontSelector.js')
    //script(src='/javascripts/jquery-collision.min.js')
    //script(src='/javascripts/jquery-ui-draggable-collision.min.js')
    script(src="http://api.html5media.info/1.1.6/html5media.min.js")
    script(src="/javascripts/sequenceEditor.js")