script(src='/javascripts/transitions/none.js')
script(src='/javascripts/transitions/crossFade.js')
script(src='/javascripts/transitions/slideLeft.js')
script(src='/javascripts/transitions/slideTop.js')
script(src='/javascripts/transitions/slideBottom.js')
script(src='/javascripts/transitions/slideRight.js')
script(src='/javascripts/transitions/flip.js')
script(src='/javascripts/transitions/scaleFade.js')