script(src='/javascripts/relems/marquee.js')
script(src='/javascripts/relems/mire.js')
script(src='/javascripts/relems/snowfall.js')
script(src='/javascripts/relems/counter.js')
script(src='/javascripts/relems/staticImage.js')
script(src='/javascripts/relems/video.js')
script(src='/javascripts/relems/staticText.js')
script(src='/javascripts/relems/color.js')
script(src='/javascripts/relems/drawing.js')
script(src='/javascripts/relems/date.js')
script(src='/javascripts/relems/time.js')
script(src='/javascripts/relems/multiText.js')
script(src='/javascripts/relems/strobe.js')
script(src='/javascripts/relems/flash.js')
script(src='/javascripts/relems/fireworks.js')
script(src='/javascripts/relems/drawingLive.js')
script(src='/javascripts/relems/particles.js')
script(src='/javascripts/relems/socialWall.js')
script(src='/javascripts/relems/pollResult.js')
//- Load all dependencies for these relems
script(src="/javascripts/plugins/jcanvas.min.js")
script(src='/javascripts/plugins/textFit.min.js')
script(src='/javascripts/plugins/pmw_marquee.js')