.page-draw #contentCanvas {
    position: relative;
    display: inline-block;
    transform-origin: 0 0;
    transition: left 0.1s ease-in-out, top 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform: scale(0.333);
    cursor: crosshair;
}


.page-draw #contentCanvas .after {
    pointer-events: none;
    background-image: url(../images/mask-full-tower.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

.toolbarview .buttonview.is-icon-only.record-button .button {
  color: #f00;
}

.toolbarview .buttonview.is-icon-only.record-button.disabled .button {
  background-color: #a00;
  animation: blinkrec 0.5s linear infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinkrec {
    from {background-color: #a00;}
    to {background-color: transparent;}
} 

/* Standard syntax */ 
@keyframes blinkrec {
    from {background-color: #a00;}
    to {background-color: transparent;}
}

.page-draw {
    height: 100%;
    overflow: hidden;
}

.pan-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    overflow: visible;
}

.pan-controls .buttonview{
    position: absolute;
}

.pan-controls .move-right {
    bottom: 50px;
    right: 0;
}

.pan-controls .move-left {
    bottom: 50px;
    right: 150px;
}

.pan-controls .move-up {
    bottom: 100px;
    right: 75px;
}

.pan-controls .move-down {
    bottom: 0px;
    right: 75px;
}

.sp-palette {
    max-width: 500px;
}

.toolbarview .timer {
    margin-bottom: 0;
}

.toolbarview .timer div div {
    line-height: 50px;
    vertical-align: middle;
    font-size: 1em;
}