body {
  font-family: 'Didact Gothic', sans-serif;
}

#loading-splash-screen {
  color: #666;
  font-size: 40px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -62px;
}

#loading-splash-screen .fa {
  display: block;
  margin: 20px;
  opacity: 0.5;
}

.toolbarview {
  height: auto;
  min-height: 40px;
}

.toolbarview .buttonview.is-icon-only .button {
  height: 40px;
  margin: 5px -12px;
  width: auto;
  text-align: center;
}

.first .buttonview {
  margin-top: -5px;
  width: 40px;
  text-align: left;
}

.app-icon {
  margin: 10px 0 0 0;
  transition: all 0.1s ease-out;
}

.app-icon .imageview img {
  width: 70%;
  max-width: 100px;
}

.app-icon:active,
.app-icon:focus {
  transform: scale(0.9);
  filter: brightness(70%);
}

.app-icon .textview {
  font-size: 1em;
  margin-top: 1%;
}

.choose-feature {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 350px 350px;
  height: 100%;
}

.tools {
  box-shadow: inset 4px 0px 10px rgba(0, 0, 0, 0.2);
}

.header .toolbarview .center {
  position: relative;
  display: inline-block;
  left: 15px;
  top: -2px;
}

.toolbarview {
  padding: 0 15px;
}

.refreshPreview {
  margin-bottom: -15px;
  padding: 0 3px;
  margin-top: 5px;
}

.refreshPreview .button {
  padding: 10px 0 7px;
}

.modal-window {
  display: none;
}

.modal-window.active {
  display: block;
}

.modal-window .message-content {
  position: fixed;
  background-color: #fff;
  top: 80px;
  right: 30px;
  left: 30px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.modal-window .message-content h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.modal-window .message-content .artist-name {
  font-weight: bold;
}

.modal-window:before {
  content: '';
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #000;
  z-index: 1;
  opacity: 0.5;
}