body{
    background-color: #fff;
}

#loading-splash-screen{
    color: #666;
    font-size: 40px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -62px;
}

#loading-splash-screen .fa{
    display: block;
    margin: 20px;
    opacity: 0.5;
}

.toolbarview .buttonview.is-icon-only .button{
    height: 40px;
    margin: 5px -12px;
    width: auto;
    text-align:center;
}

.first .buttonview{
	margin-top: -5px;
	width: 40px;
	text-align: left;
}

.app-icon{
	margin: 10px 0;
}

.choose-feature{
	background-color: #fff;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 350px 350px;
	height: 100%;
}

.imageview img{
	width: 70%;
	margin-left: 5px;
	text-align: right;
}

.tools{
    box-shadow: inset 4px 0px 10px rgba(0,0,0,0.2);
}
.header .toolbarview .center{
    position: relative;
    display: inline-block;
    left: 15px;
    top: -2px;
}

.refreshPreview{
    margin-bottom: -15px;
    padding: 0 3px;
    margin-top: 5px;
}

.refreshPreview .button{
    padding: 10px 0 7px;
}

.modal-window{
    position: absolute;
    top: 120%;
    left: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    margin-bottom: 5px;
    display: none;
}

.modal-window.shown{
    top: -30px;
    display: block;
}

@media only screen and (min-width:650px){
    .modal-window{
        left: 50%;
        right: auto;
        bottom: auto;
        width: 600px;
        margin-left: -300px;
    }
}

.close-modal-window{
    position: absolute;
    right: -7px;
    top: -7px;
    z-index: 10;
}

.conditions-text .close-modal-window{
    z-index: 11;
}

.close-modal-window .button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    line-height: 27px;
}

.close-modal-window .button i{
    font-size: 16px;
}

.modal-alert-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000000;
    opacity: 0;
    display: none;
}

.modal-alert-container.shown{
    display: block;
    opacity: 1;
}

.modal-alert-container .modal-alert-window{
    border: 1px solid #EFEFEF;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
    text-align: center;
}

.modal-alert-container .modal-alert-window .button{
    margin-top: 30px;
}