#takePictureField {
  position: absolute;
  top: 5px;
  height: 40px;
  width: 90%;
}

input[type=file] {
  display: block;
  opacity: 0;
}

.toolbarview .buttonview.is-icon-only .button {
  pointer-events: none;
}

.drawPhotoCanvas.drawPhotoCanvasEmpty {
  background-color: white;
  background-image: url('../images/drawphoto-background.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% auto;
}

.drawPhotoCanvas {
  background: url(../images/bruit.png) repeat;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
}

#scratch-canvas {
  display: none;
}

.sp-palette {
    max-width: 500px;
}