.poll-result {
  position: absolute;
  font-family: Helvetica;
  margin: 0;
}
.poll-result h1 {
  text-align: center;
  font-size: 10px;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
}
.poll-result .option-result {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: middle;
  position: relative;
  margin: 0;
}
.poll-result .option-result .option-image {
  height: 100%;
  display: inline-block;
  border-radius: 5px;
}
.poll-result .option-result .option-name {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
}
.poll-result .option-result .option-bar {
  height: 90%;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 0;
  transition: all 1s ease-out;
  text-align: center;
  border-radius: 5px;
}
